.page {
  border: 1px solid #e8ebef;
  background-color: transparent;
  padding: 5px 10px;

  &.ellipsis {
    cursor: default;
  }

  &:first-child {
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-radius: 0 8px 8px 0;
  }

  &:not(:last-child) {
    border-right: none;
  }

  &:hover {
    background-color: #f9fafb;
  }
}

.active_page {
  border: 1px solid #e8ebef;
  background-color: #f9fafb;
}
