.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    border: 1px solid #00000033;
    padding: 5px 30px 5px 10px;
    border-radius: 8px;
    width: 100%;
  }

  svg {
    position: absolute;
    right: 5px;
  }
}
