.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.badge {
  margin-left: 8px;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 14px;
  background-color: #f9fafb;
  color: #4b5563;
  white-space: nowrap;
}

.table_container {
  overflow-x: auto;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e4e7ec;

  caption {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;

    p {
      font-weight: normal;
      margin: 0;
      font-size: 14px;
      font-style: italic;
    }
  }

  @media (max-width: 600px) {
    thead {
      display: none;
    }
  }

  th,
  td {
    text-align: left;
    padding: 10px;
    white-space: nowrap;
  }

  th {
    background-color: #f3f4f6;
    position: relative;

    svg {
      right: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  td {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #e4e7ec;

    &.sorting {
      background-color: #00000005;
    }
  }

  tr:first-child th:last-child {
    border-top-right-radius: 7px;
  }

  tr:first-child th:first-child {
    border-top-left-radius: 7px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
  }

  tbody tr {
    display: table-row;

    &:hover {
      background-color: #0000000d;
    }
  }

  td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;

    @media (min-width: 600px) {
      content: none;
    }
  }

  .checkbox {
    width: 20px;
  }

  .selected {
    background-color: #f9fafb;
  }

  @media (max-width: 600px) {
    tbody tr {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    tr:first-child {
      td {
        border-top: none;
      }
    }

    tr:first-child td:last-child {
      border-bottom-right-radius: 7px;
    }

    tr:first-child td:first-child {
      border-bottom-left-radius: 7px;
    }

    td {
      display: block;
      white-space: normal;
      text-align: right;

      &:not(:first-child) {
        border-top: none;
      }
    }
  }
}

.selected_text {
  margin: 0;
}

.no_result, .no_data {
  text-align: center;
}
